<%- include("layout/header") %>

<div class = "container"> 
    <div class= "row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h5 class="text-light">Edit Person (<%= user.name  %>) </h5>
                </div>
                <div class="card-body p-4">
                    <form action="/update/<%= user._id  %>" method="post" id="add-form">
                        <div class="mb-3">
                            <label for="id">ID</label>
                            <input type="text" name="id" class="form-control form-control-lg" placeholder="Enter ID" value="<%= user._id %>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter Name" value="<%= user.name %>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="Date_of_birth">Date of Birth</label>
                            <input type="date" name="Date_of_birth" class="form-control form-control-lg" value="<%= user.Date_of_birth.toISOString().split('T')[0] %>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="Place_of_birth">Place of Birth</label>
                            <input type="text" name="Place_of_birth" class="form-control form-control-lg" placeholder="Enter Place of Birth" value="<%= user.Place_of_birth %>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="Gender">Gender</label>
                            <input type="text" name="Gender" class="form-control form-control-lg" placeholder="Enter Gender" value="<%= user.Gender%>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="Status">status</label>
                            <input type="text" name="Status" class="form-control form-control-lg" placeholder="Enter status" value="<%= user.Status%>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="Resource">resources</label>
                            <input type="text" name="Resource" class="form-control form-control-lg" placeholder="Enter resources" value="<%= user.Resource %>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="Nationality">Nationality</label>
                            <input type="text" name="Nationality" class="form-control form-control-lg" placeholder="Enter Nationality" value="<%= user.Nationality %>" required/>
                        </div>
                        <h3>Description</h3>
                        <div class="mb-3">
                            <label for="Description[Height]">Height</label>
                            <input type="number" step="0.01" name="Description[Height]" class="form-control form-control-lg" placeholder="Enter Height"  value="<%= user.Description.Height %>" required/>
                        </div>
                        
                        <div class="mb-3">
                            <label for="Description[Hair]">Hair Color</label>
                            <input type="text" name="Description[Hair]" class="form-control form-control-lg" placeholder="Enter Hair Color" value="<%= user.Description.Hair %>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="Description[Eyes]">Eye Color</label>
                            <input type="text" name="Description[Eyes]" class="form-control form-control-lg" placeholder="Enter Eye Color" value="<%= user.Description.Eyes %>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="Description[Language_spoken]">Languages Spoken</label>
                            <input type="text" name="Description[Language_spoken]" class="form-control form-control-lg" placeholder="Enter Languages Spoken" value="<%= user.Description.Language_spoken.join(', ') %>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="Charges">Charges</label>
                            <input type="text" name="Charges" class="form-control form-control-lg" placeholder="Enter Charges" value="<%= JSON.stringify(user.Charges) %>" required/>
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="submit" value="Update User" class="btn-success btn-primary btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("layout/footer") %>
